.tags-field {
  position: relative;
  cursor: pointer;
  border: 2px solid rgb(248, 248, 248);
  background-color: #fff;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  transition: all 0.15s;
}
.tags-field.dark {
  background-color: rgb(43, 43, 43);
  border-color: rgb(51, 51, 51);
}
.tags-field:focus-within {
  cursor: auto;
  border-color: transparent;
  background: rgb(248, 248, 248);
  box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.1);
}
.tags-field:focus-within.dark {
  background: rgb(51, 51, 51);
}
.tags-field:focus-within .tag-input {
  display: block;
}
.tags-field:focus-within .tags .tag .tag-close {
  display: inline;
}
.tags-field .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  overflow: hidden;
  padding: 3px;
}
.tags-field .tag-input {
  display: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: transparent;
  padding: 4px 5px 4px 10px;
  width: 80px;
  flex-grow: 2;
}
.tags-field.dark .tag-input {
  color: #dbdbdb;
}
.tags-field .tag-input:focus {
  outline: none;
}
